.article_favorite-card {
    background-color: #f5deb378;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #393636cf;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
        &:hover {
        font-weight: 700;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
    }
}