.section_charms {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/014/854/239/large/michele-di-basilio-screenshot00001.jpg?1545920711');
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "card" "card"
    "card" "card";
    overflow-x: scroll;
}

p {
    margin: 0;
}

.article_charms-cards {
    background-color: #0fe5d17d;
    border-radius: 3px;
    box-shadow: 5px 4px 8px 0px #076159c9;
    text-align: center;
    margin: 4%;
    padding: 2%;
}    