.section_charms {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/014/854/239/large/michele-di-basilio-screenshot00001.jpg?1545920711');
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "card" "card"
    "card" "card";
    overflow-x: scroll;
}
.charm_names {
    display: grid;
    // grid-area: names;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.charm_effects {
    display: grid;
    // grid-area: effects;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.article_charms-cards-name,
.article_charms-cards-effect {
    border-radius: 3px;
    text-align: center;
    margin: 4%;
    padding: 2%;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
    }
}  

.article_charms-cards-name {
    background-color: #0fe5d17d;
    box-shadow: 5px 4px 8px 0px #076159c9;
}

.article_charms-cards-effect {
    background-color: #ffc107b5;
    box-shadow: 6px 7px 10px 5px #291901;
}