@import url("https://fonts.googleapis.com/css?family=Henny+Penny|ZCOOL+XiaoWei&display=swap");

.section_house-main {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    // grid-template-areas: 
    // "card" "card"
    // "card" "card";
    // height: 100vh;
    display: flex;
  overflow-x: scroll;
}

.article_house-cards {
    font-family: 'Henny Penny', cursive;
    text-align: center;
    position: relative;
    width: 72%;
    background-image: url('https://www.artsclip.com/background/XZHaFAgbeP-vintage-paper-scroll-for-short-news-slides.png');
    // grid-area: card;
    // background-repeat: no-repeat;
    // padding: 19%;
      h3 {
          font-size: 2em;
      }
}

