@import url("https://fonts.googleapis.com/css?family=Henny+Penny|ZCOOL+XiaoWei&display=swap");

// @font-face {
//     font-family: 'Harry Potter Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
//     }

.login_main {
    background-image: url(https://images.ctfassets.net/usf1vwtuqyxm/7EsDSrJhr0pNwUNK8lrUwY/f8d7e5101de6dda8f46c0f94673087a9/HP-Hogwarts-39PHOTOBU17074_PHUP_HP.jpg);
    align-items: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#blockColorblindContent {
    display: none;
}

h1 {
    font-family: 'Henny Penny', cursive;
    // font-family: 'Harry Potter Regular';
    font-size: 4em;
    color: white;
}

.login_witchcraft {
    background-color: #aca9a3;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    // font-family: 'Harry Potter Regular';
    font-family: 'Henny Penny', cursive;
    font-size: 3em;
    text-transform: uppercase;
    color: #252627;
    margin-top: 25%;
}

.submit-btn {
    border-radius: 3px;
    font-family: 'Henny Penny', cursive;
    font-size: 2em;
    height: 60px;
    margin-bottom: 10%;
}