.section_charms {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/014/854/239/large/michele-di-basilio-screenshot00001.jpg?1545920711');
    background-repeat: no-repeat;
    height: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "card" "card"
    "card" "card";
    overflow-x: scroll;
}
