.section_character-main {
    background-image: url('https://i.ytimg.com/vi/FWZsya9giqA/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section_characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 4fr));    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "card" "card"
    "card" "card";
    overflow-x: scroll;
    grid-gap: 1%;
    margin: 1%;
}

.section_character-heading {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    height: 20%;
    justify-content: space-evenly;
    width: 100%;
      .character_heading {
          color: white;
          text-shadow: 2px 2px 2px black;
          margin-right: 15%;
      }
}

.back_btn {
    border-radius: 3px;
    font-size: 1.2em;
    height: 60px;
    width: 100%;
    margin: 4% 0 0 15%;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
      }
}