.section_houses-characters {
    background-image: url('https://i.ytimg.com/vi/FWZsya9giqA/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "card" "card"
    "card" "card";
    overflow-x: scroll;
}